<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764674319156-t06hh583t2ui5emdqtvbhr0shh10pmst.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764674319156-t06hh583t2ui5emdqtvbhr0shh10pmst</string>
	<key>API_KEY</key>
	<string>AIzaSyAzyJGXuTCO4913dmzd8LTPBeU6zLLsyX4</string>
	<key>GCM_SENDER_ID</key>
	<string>764674319156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ableflyerstudios.ggGg</string>
	<key>PROJECT_ID</key>
	<string>ableflyerdatabase</string>
	<key>STORAGE_BUCKET</key>
	<string>ableflyerdatabase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764674319156:ios:b5665a084e6aaa3519fb61</string>
</dict>
</plist>